.SearchComponent {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.SearchComponent_input {
  padding: 10px 20px;
  width: 77%;
  background-color: #fff;
}

.SearchComponent_input_btn {
  width: 20%;
  background: #8bc34a;
  color: #fff;
}

.SearchComponent_input_btn,
.SearchComponent_input {
  border-radius: 10px;
  border: 1px solid #8bc34a;
  margin-bottom: 40px;
}

.SearchComponent_input_btn:hover {
  transition: 0.4s ease;
  cursor: pointer;
  color: #8bc34a;
  background: #fff;
}

.SearchComponent_input:focus {
  border: 2px solid #8bc34a;
  outline: none;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  /* padding: 50px; */
}

.card p > span {
  font-weight: 500;
}

.card {
  /* flex: 0 0 calc(33.3% - 10px); */
  /* margin: 5px; */

  /* flex-basis: 0; */
  flex-shrink: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  flex-grow: 1;
  padding: 10px;
  /* width: 300px; */
  width: calc(30% - 50px);
  background-color: #8bc34a93;
  border-radius: 5px;
}
