h2 {
  color: #8bc34a;
  margin-bottom: 50px;
}

h3 {
  color: #1d3501;
  margin-bottom: 10px;
  border-bottom: 4px solid #1d3501;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  /* padding: 50px; */
}

.card p > span {
  font-weight: 500;
}

.card {
  /* flex: 0 0 calc(33.3% - 10px); */
  /* margin: 5px; */

  /* flex-basis: 0; */
  flex-shrink: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  flex-grow: 1;
  padding: 10px;
  /* width: 300px; */
  width: calc(30% - 50px);
  background-color: #8bc34a93;
  border-radius: 5px;
}

.card a {
  text-decoration: none;
}

.card a:hover {
  color: #1d3501;
  font-weight: 700;
}
